# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
basic_binary_basic
basic_binary_search
.gitignore
binary_search_basic_early_term
binary_search_basic
linear_search_basic
linear_search_basic_early_term
linear_search_vector
linear_search_vector_early_term
linear-search-basic
main
verifier

tests/*
build/*
result.tar.gz
.ipynb_checkpoints/*

p2.tar.gz